body {
  margin: 30px;
}

#score {
}
#correct {
}
#incorrect {
}
#reset_board {
}
#card_creation {
}
#cards_container {
}
#cards_container .card {
  border: solid 2px;
  height: 200px;
  width: 180px;
}

.card_body {
}

.hidden {
  visibility: hidden;
}
